In [11]:
# Любым удобным для вас способом создайте dataframe c именем my_data,
# в котором две колонки c именами (type - строки, value - целые числа)
# и четыре наблюдения в каждой колонке:
# type value
# A    10

# A    14

# B    12

# B    23
import pandas as pd
# var 1

data = {
    'type':['A','A','B', 'B'],
    'value':[10,14,12,23]
}
my_data=pd.DataFrame(data)
# type(my_data)
my_data

  type  value
0    A     10
1    A     14
2    B     12
3    B     23

In [155]:
# В переменную с именем subset_1 сохраните только первые 10 строк и только 1 и 3 колонку.
# В переменную с именем subset_2 сохраните все строки кроме 1 и 5 и только 2 и 4 колонку.
# Помните, что нумерация индексов строк и колонок начинается с 0.
# Обратите внимание, получившиеся subset_1 и subset_2 - тоже должны быть dataframe.

import pandas as pd
my_stat = pd.read_csv("C:\\Users\\ump\\Dropbox\\ПК\\Documents\\DataScience\\my_stat.csv")

subset_1 = my_stat.iloc[:10,[0, 2]]
subset_1

# stat1=my_stat.drop(my_stat.index[[0,4]])
# stat1
# subset_2 = stat1.iloc[:,[1,3]]
# subset_2
subset_2=my_stat.iloc[:, [1, 3]].drop([0, 4])
subset_2

       V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[498 rows x 2 columns]

In [235]:
# В переменную subset_1 сохраните только те наблюдения, у которых значения переменной V1  строго больше 0,
# и значение переменной V3  равняется 'A'.
# В переменную  subset_2  сохраните только те наблюдения, у которых значения переменной V2  не равняются 10,
# или значения переменной V4 больше или равно 1.
# Как и в предыдущей задаче результат фильтрации - это тоже dataframe.
subset_1.query('V3 == "A" & V1>0')
subset_2.query('V4 >= 1 or V2 != 10')

       V2   V4
1     7.0  1.0
2    11.0  0.0
3    11.0  2.0
5    11.0  0.0
6     9.0  2.0
..    ...  ...
495   8.0 -1.0
496   8.0  1.0
497  11.0  2.0
498  11.0  2.0
499   8.0  1.0

[446 rows x 2 columns]

In [13]:
# В переменную subset_1 сохраните только те наблюдения, 
# у которых значения переменной V1  строго больше 0, и значение переменной V3  равняется 'A'.
# # В переменную  subset_2  сохраните только те наблюдения,
# у которых значения переменной V2  не равняются 10, или значения переменной V4 больше или равно 1.
# Как и в предыдущей задаче результат фильтрации - это тоже dataframe.

import pandas as pd

data = pd.read_csv("C:\\Users\\ump\\Dropbox\\ПК\\Documents\\DataScience\\my_stat.csv")
# subset_1 = data.query('V1 > 0 & V3 =="A"') 
subset_1 = data.drop(columns=['V2', 'V4']) & data.query('V1 > 0 & V3 =="A"')
subset_1

TypeError: unsupported operand type(s) for &: 'int' and 'float'